.DS_Store
.env
.gradle
.idea/
*.iml
bin/
build
cypress-dev.sh
cypress/cucumber-json
cypress/downloads
cypress/logs
cypress/reports
cypress/screenshots
cypress/videos
logs
node_modules
screenshots
target/
